
/* Core Colors */
$pink: #ee6e73;
$blue: #2c3e50;
$cyan: #00c3d3;
$yellow: #ffbd00;

/* Colors for specifics */
$success: #25ae88;
$failure: #d75a4a;

$pale-grey: #fafafa;
$dark-grey: #d0d0d0;