
/******************\
|** TEXT STYLING **|
\******************/

p, span {
    font-family: 'Raleway', sans-serif;
    font-size: 1em; 
    text-align: left;
  }
  
h1, h2, h3, h4{
font-family: 'Dosis', sans-serif;
font-weight: normal;
margin: 0.5em 0;
}
  
h1 { 
    font-size: 3em;
    text-align: center;
}
h2 {
    font-size: 3em;
    text-align: center;
}
h3 {
    font-size: 2em;
    text-align: left;
}
h4 {
    font-size: 1.8em;
    text-align: left;
}

  
/*********************\
|** ELEMENT STYLING **|
\*********************/






