
// Main Color Pallet
$primary: #151E3F; // Blue
$accent1: #2DD8CF; // Cyan
$accent2: #EA3546; // Red
$background: #F2F2F2; // Off-White
$foreground: #0D0D1A; // Off-Black


// NOTES:
// All colors used throughout the app, should reference variables defined in this file
// Identifiers should describe use not color, to allow for multiple themes in the future
// Color codes should be specified in a consistent format (e.g. 6 - 8 char uppercase Hex)