

// Global Font Sizes

$body-font-small: 0.8rem;
$body-font-medium: 1.2rem;
$body-font-large: 1.6rem;
$body-font-xLarge: 2rem;

$heading-font-xSmall: 1.2rem;
$heading-font-small: 2rem;
$heading-font-medium: 2.5rem;
$heading-font-large: 3.8rem;

h1 { // Displays in Navigation Bar
  margin: 0;
  font-size: $heading-font-medium;
  font-weight: normal;
  text-decoration: none;
  color: $accent1;
}

h3 {
  font-size: $heading-font-large;
}


h1, h2, h3, h4, h5 {
  margin: 0;
  font-family: 'ZillaSlab', serif;
}

.article-font {
  font-family: ZillaSlab, serif;
}

h3 {
  font-family: 'ZillaSlab', serif;
}

body, p, span, a {
  font-family: Cairo, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
